# SPDX-FileCopyrightText: 2025 Intel Corporation
# SPDX-License-Identifier: BSD-3-Clause

include README.md
include LICENSE
include src/time_config_hub/infra/linux/templates/*.service
global-exclude __pycache__
global-exclude *.py[co]
